<section class="categories" ng-controller="CategoriesCtrl">
	<div class="logo"></div>
	<div class="divider"></div>
	<div class="col-lg-9">
		<div class="container">
			<div class="col-xs-12">
				<div class="col-sm-4 item" ng-repeat="category in categories">
					<a id="field" class="link" data-toggle="modal" ng-click="startQuiz(category.id)">
						<img src="{{category.imgUrl}}" class="img-responsive" alt="">
					</a>
					<span class="title">{{category.name}}</span>
				</div>
			</div>
			<button ng-click="back()">Back</button>
		</div>
	</div>
</section>