<section class="categories" ng-controller="CategoriesCtrl">
	<div class="logo"></div>
	<div class="divider"></div>
	<div class="col-lg-9">
		<div class="container">
			<div class="col-xs-10">
				<div class="col-sm-4 item" ng-repeat="item in categories">
					<a class="link" data-toggle="modal" ng-click="startQuiz()">
						<div class="caption">
							<div class="caption-content">
								<i class="fa fa-search-plus fa-3x"></i>
							</div>
						</div>
						<img src="{{item.image}}" class="img-responsive" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>
</section>