<section class='help-view' ng-controller="HelpCtrl">
    <ul>
        <li>The score obtained at the end of the Quiz is sum of scores of the questions answered correctly</li>
        <li>All the questions do not have the same score</li>
        <li>If you do not answer the question in the time limit the question is passed</li>
		<li>To register, click the register section.</li>
		<li>If you already had an account, click the login section to login</li>
    </ul>
    <button ng-click="back()">Back</button>
</section>
